.body{
  background: chartreuse;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.quiz-container{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

